- if current_user.admin?
  %h2 Добавление записи
  =form_for(@blog) do |blog|
    .field
      = blog.label "Заголовок записи блога :"
      = blog.text_field :header
    .field
      = blog.label "Содержание :"
      %br
      = blog.text_area :data, :class => "tinymce", :rows => 10, :cols => 80
    .actions
      = blog.submit "Добавить"
