%h2 Наш блог
- unless @blog.nil?
  .container
  %h3{:style => 'text-align : left'} Теги : 
  #tag_cloud
    %ul.breadcrumb
      - tag_cloud Record.tag_counts, %w[s m l] do |tag, css_class|
        %li= link_to tag.name, tag_path(tag.name), class: css_class
    - @blog.each do |record|
      .row
        %hr
        %a{:href => record_path(record.id)} 
          %h2= record.header
        .span2
          %p{:style => 'font-weight : bold'} Добавлено:
          %p=record.created_at.to_s(:ru_datetime)
        .span8
          = render :inline => record.text
        .span2
          %p{:style => 'font-weight : bold'} Обновлено:
          %p{:style => ''}=record.created_at.to_s(:ru_datetime)
      .row{:style => 'margin-top : 16px; text-align : center'}
        .span2
        .span8
          - unless record.tag_list.empty?
            %p{:style => 'font-weight : bold'} Теги:
            - record.tag_list.each do |tag|
              = link_to(tag, '/tags/' + tag)
        .span2
    = paginate @blog
