- unless @news.nil?
  .container
    .row
      %hr
      %h2= @news.header
      .span2
        %p{:style => 'font-weight : bold'} Добавлено:
        %p=@news.created_at.to_s(:ru_datetime)
      .span8
        = render :inline => @news.text if @news.text
      .span2
        %p{:style => 'font-weight : bold'} Обновлено:
        %p{:style => ''}=@news.created_at.to_s(:ru_datetime)
    = render 'layouts/socialbuttons'
    = render :partial => 'layouts/addcomments', :locals => {:control => 'news_comments', :id => 'news_id'.intern}
    = render 'layouts/comments'
