.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/home"} SmartDrum
      .nav-collapse
        %ul.nav
          %li= link_to "Новости", news_index_path
          %li= link_to "Блог", records_path
          %li= link_to "Продукция", products_path
          %li= link_to("Партнеры","/partners")
          %li= link_to("Контакты","/contacts")
          %li= link_to("О нас","/about")
          - if user_signed_in?
            - if !current_profile.nil?
              %li= link_to(current_profile.firstname, edit_profile_path(current_profile.id))
            - else
              %li= link_to('Создать профиль', new_profile_path(current_user.id))
          - else
            %li= link_to "Регистрация", new_user_registration_path
            %li= link_to "Войти", new_user_session_path
:coffeescript
  $(document).ready ->
    # Get height of browser
    $window = $(window)
    $top = $("body").height()*0.5
    # Display arrow if we scrolling
    $window.scroll ->
      if $window.scrollTop() <= $top
        arrow = document.getElementById("top_arrow")
        arrow.style.display = "none"
      else
        arrow = document.getElementById("top_arrow")
        arrow.style.display = "block"
    $(".nav li").each (index) ->
      $(this).toggleClass "active"  if $(this).text() is "#{@title}"
%a{:href => "#" , :onClick => '$("html, body").animate({ scrollTop: 0 }, "slow")', :id => 'top_arrow'} 
  %i.icon-circle-arrow-up{:style => 'font-size : 2.5em; top : 48px; position : fixed; left : 16px'}
